<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  Please confirm your email by clicking on link below: <br/>
  <hr/>
  <%= link_to 'Confirm email', @url %>
</p>
</body>
</html>
