<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h4>Hi <%= @user[:name] %></h4>
<p>
  Please reset your password by clicking on link below: <br/>
  <hr/>
  <%= link_to 'Reset Password!', @url %>
</p>
</body>
</html>
